@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";

@theme {
  /* colors */
  --color-whity: #fafafa;
  --color-blacky: #010101;
  --color-gray: #afafaf;
  --color-green: #19ae1a;
  --color-body-text: #4d4d4d;
  --color-light-green: #20ae190f;
  --color-grey: #dfdfdf;
  --color-blue: #1877f2;
  --color-cream: #faf9f5;

  /* text-size */
  --text-custom-xl: 22px;
  --text-custom-2xl: 28px;
  --text-custom-3xl: 32px;

  /* line-height */
  --leading-100: 100%;
  --leading-110: 110%;
  --leading-120: 120%;
  --leading-130: 130%;
  --leading-140: 140%;
  --leading-150: 150%;
  --leading-160: 160%;

  /* font-fmaily */
  --font-poppins: var(--font-poppins);

  /* shadow */
  --hover-shadow: [0px_4px_25px_0px_rgba(1, 1, 1, 0.1)];

  /* border-radius */
  --radius-xxl: 14px;
}

* {
  font-family: var(--font-poppins);
  scroll-behavior: smooth;
}

.li {
  position: relative;
}

.li::before {
  position: absolute;
  left: 0;
  bottom: -1px;
  content: "";
  height: 2px;
  width: 0;
  background: var(--color-green);
  transition: width 0.3s;
}

.li:hover::before {
  width: 100%;
}
.a {
  position: relative;
}

.a::before {
  position: absolute;
  left: 0;
  bottom: -3px;
  content: "";
  height: 2px;
  width: 0;
  background: var(--color-green);
  transition: width 0.5s;
}

.a:hover::before {
  width: 100%;
}

::selection {
  background-color: var(--color-green);
  color: var(--color-whity);
}

::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-track {
  background-color: var(--color-whity);

  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: var(--color-green);
}
